<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Pokédex - Cadastro</title>
</head>
<body>
    <nav>
        <img src="/img/logo.png" class="img-fluid gif" alt="logo Pokédex">
        <ul>
            <li>
                <a href="index">Home</a>
            </li>
            <li>
                <a href="cadastro">Cadastro</a>
            </li>
            <li>
                <a href="detalhes">Detalhes</a>
            </li>
        </ul>
    </nav>
    <header>
    </header>
    <div class="row">
        <% if (pokemon == undefined) { %>
        <div class="card cadastro">
        <h2>Cadastro Pokemon</h2>
        <p>Realize o seu cadastro do Pokemon Favorito !! </p>
        <form action="/add" method="post">
            <img class="image" src="/img/pokebola.png" alt="pokebola" />
            <input type="texto" id="numero" name="numero" placeholder="Id">
            <input type="texto" id="nome" name="nome" placeholder="Nome do Pokemon">
            <input type="texto" id="tipo" name="tipo" placeholder="Tipo">
            <input type="texto" id="imagem" name="imagem" placeholder="URL da imagen">
            <input type="texto" id="descricao" name="descricao" placeholder="Descrição">
            <input type="texto" id="altura" name="altura" placeholder="Altura">
            <input type="texto" id="peso" name="peso" placeholder="Peso">
            <input type="texto" id="myInput" placeholder="Categoria">
            <input type="texto" id="myInput" placeholder="Habilidade">

            <button id="btnCadastrar" type="submit">Cadastrar</button>
        </form>
        <% } else { %>
            <h2>Atualize seu Pokemon!</h2>
            <form action="/update/<%= pokemon.id %>" method="post">
                <img class="image" src="/img/pokebola.png" alt="pokebola" />
                <input type="texto" id="numero" name="numero" placeholder="Id">
                <input type="texto" id="nome" name="nome" placeholder="Nome do Pokemon">
                <input type="texto" id="tipo" name="tipo" placeholder="Tipo">
                <input type="texto" id="imagem" name="imagem" placeholder="URL da imagen">
                <input type="texto" id="descricao" name="descricao" placeholder="Descrição">
                <input type="texto" id="altura" name="altura" placeholder="Altura">
                <input type="texto" id="peso" name="peso" placeholder="Peso">
                <input type="texto" id="myInput" placeholder="Categoria">
                <input type="texto" id="myInput" placeholder="Habilidade">

            <button id="btnAtualizar" type="submit">Atualizar</button>
            </form>
        <% } %>
      </div>
    </div>
    <footer>
        <p>
            <a href="" target="_blank"> Pokedex JWO - Todos os Direitos Reservados 2022</a>
        </p>
    </footer>
    <script src="./JS/script.js"></script>     
</body>
</html>