<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Pokédex - Cadastro</title>
</head>
<body>
    <nav>
        <img src="/img/logo.png" class="img-fluid gif" alt="logo Pokédex">
        <ul>
            <li>
                <a href="index">Home</a>
            </li>
            <li>
                <a href="cadastro">Cadastro</a>
            </li>
            <li>
                <a href="detalhes">Detalhes</a>
            </li>
        </ul>
    </nav>
    <header>
    </header>
    <div class="row">
        <div class="card cadastro">
        <h2>Cadastro Pokemon</h2>
        <p>Realize o seu cadastro do Pokemon Favorito !! </p>
            <lu><img class="image" src="/img/pokebola.png" alt="pokebola" /></lu>
            <lu><input type="nome" id="myInput" placeholder="Nome do Pokemon"></lu>
            <lu><input type="nome" id="myInput" placeholder="Tipo"></lu>
            <lu><input type="nome" id="myInput" placeholder="URL da imagen"></lu>
            <lu><input type="nome" id="myInput" placeholder="Descrição"></lu>
            <lu><input type="nome" id="myInput" placeholder="Altura"></lu>
            <lu><input type="nome" id="myInput" placeholder="Peso"></lu>
            <lu><input type="nome" id="myInput" placeholder="Categoria"></lu>
            <lu><input type="nome" id="myInput" placeholder="Habilidade"></lu>
      </div>
    </div>
    <footer>
        <p>
            <a href="" target="_blank"> Pokedex JWO - Todos os Direitos Reservados 2022</a>
        </p>
    </footer>
    <script src="./JS/script.js"></script>     
</body>
</html>